.color-display {
  border-radius: var(--border-radius);
  height: 5rem;
  cursor: pointer;
  border: var(--clr-gray-2) 2px solid;
  width: 100%;
}

.color-display-wrapper {
  position: relative;
}

.color-display-wrapper:focus-within .color-popover {
  display: block;
}

.color-popover {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 50%;
  left: 0;
}

.color-display-wrapper .react-colorful {
  width: 200%;
  height: inherit;
  aspect-ratio: 1;
}

.color-display-wrapper .react-colorful__saturation-pointer {
  width: 16px;
  height: 16px;
  border-radius: var(--border-radius);
}
.color-display-wrapper .react-colorful__saturation {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  border: var(--clr-gray-2) 2px solid;
}
.color-display-wrapper .react-colorful__hue {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border: var(--clr-gray-2) 2px solid;
  height: 16px;
}
.color-display-wrapper .react-colorful__hue-pointer {
  width: 16px;
  height: 16px;
  border-radius: var(--border-radius);
}

@keyframes fade-in {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.2);
  }
}

.confirm-dialog-wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  animation: fade-in 1s forwards;
  z-index: 9999999 !important;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.confirm-dialog {
  background: white;
  padding: 1em;
  border-radius: var(--border-radius);
  min-width: 20em;
  margin: auto;
  animation: fade-up 0.3s forwards;
}

@keyframes copied-animation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.generated-code-copied {
  animation: copied-animation 2s forwards;
}

code {
  display: block;
  padding: 1em;
  font-size: 1rem;
  color: var(--clr-primary-dark);
  background: rgb(236, 236, 236);
  word-break: break-all;
  word-wrap: break-word;
}
