.left-menu-icon {
  width: 3em;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
}

.left-menu-div {
  max-width: 300px;
  min-width: 300px;
  width: 90%;
}

.card {
  border-radius: 20px !important;
  background: white;
  color: #353535;
  box-shadow: 2px 2px 2px 2px #888888;
}

.download-chart-button {
  text-align: right;
}

.export-csv-button-container {
  text-align: right;
  margin-bottom: 10px;
}

.export-csv-button {
  border-radius: 0px !important;
  font-size: 14px !important;
  background: #fff !important;
  color: black !important;
}

.export-csv-button:hover {
  border-color: #1890ff !important;
  background: #fff !important;
  color:  #1890ff !important;
}

.member-img{
  width: 50px !important;
  margin-bottom: 10px !important;
  border-radius: 0.5em !important;
  box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0 !important ;
  max-height: 50px !important;
  max-width: 50px !important;
}
.member-modal-header{
  height: 60px !important
}
.member-modal-header-text{
  margin-left: 12px;
  margin-top: 18px;
  font-size: 1.2em;
  font-weight: bold;
}
.close-icon-x {
  text-align: end;
  font-size: 24px;
  cursor: pointer !important;
  margin-right: 12px !important;
  margin-top: 18px !important;
}
.ant-modal-header{
  padding-top: 0px;
  padding-bottom: 0px;
}
.ant-table-thead > tr > th{
  text-align: center !important;
}
.ant-table-cell {
  text-align: left !important;
}
.ant-table-body{
  min-height: 75px;
}
/* .ant-statistic-content{
  font-size: 18px;
} */

.lineChart g rect, /* Bars */
.lineChart g text, /* Total labels */
.lineChart linearGradient ~ path, /* Trend page sankeys */
#maps_Layer_Collections{
  cursor: pointer !important;
}
#tooltemplate{
  width: 90px;
  background: #353f4ce6;
  opacity: 100%;
  box-shadow: 0px 2px 2px #00000066;
  font-size: 13px;
  color: #ffffff;
  font-weight: 500;
}
.title{
  font-size:16px;
  color:#646464;
}

.cardValues{
  font-size: 16px !important;
  font-weight: 700 !important;
}