@font-face {
  font-family: "AvenirLTStd-Roman";
  src: url('./assets/fonts/avenirFont/AvenirLTStd-Roman.otf') format("opentype");
}

  
@font-face {
  font-family: "AvenirLTStd-Book";
  src: local("AvenirLTStd-Book"),
   url('./assets/fonts/avenirFont/AvenirLTStd-Book.otf') format("opentype");
}

  
@font-face {
  font-family: "AvenirLTStd-Black";
  src: local("AvenirLTStd-Black"),
   url('./assets/fonts/avenirFont/AvenirLTStd-Black.otf') format("opentype");
}

body {
    margin: 0;
   font-family: "AvenirLTStd-Roman" !important ; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
