.left-menu-icon {
  width: 3em;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
}

.left-menu-div {
  max-width: 300px;
  min-width: 300px;
  width: 90%;
}

.card {
  border-radius: 20px !important;
  background: white;
  color: #353535;
  box-shadow: 2px 2px 2px 2px #888888;
}

.download-chart-button {
  text-align: right;
}

.export-csv-button-container {
  text-align: right;
  margin-bottom: 10px;
}

.export-csv-button {
  border-radius: 0px !important;
  font-size: 14px !important;
  background: #fff !important;
  color: black !important;
}

.export-csv-button:hover {
  border-color: #1890ff !important;
  background: #fff !important;
  color: #1890ff !important;
}

.member-img {
  width: 50px !important;
  margin-bottom: 10px !important;
  border-radius: 0.5em !important;
  box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0 !important;
  max-height: 50px !important;
  max-width: 50px !important;
}

.member-modal-header {
  height: 60px !important
}

.member-modal-header-text {
  margin-left: 12px;
  margin-top: 18px;
  font-size: 1.2em;
  font-weight: bold;
}

.close-icon-x {
  text-align: end;
  font-size: 24px;
  cursor: pointer !important;
  margin-right: 12px !important;
  margin-top: 18px !important;
}

.ant-modal-header {
  padding-top: 0px;
  padding-bottom: 0px;
}

.ant-table-thead>tr>th {
  text-align: left !important;
}

.ant-table-cell {
  text-align: left !important;
}

.ant-table-body {
  min-height: 75px;
}

.salesReportTable table>tbody>tr>td {
  width: 108px;
}

.ant-statistic-content {
  font-size: 18px;
} */

.lineChart g rect,
/* Bars */
.lineChart g text,
/* Total labels */
.lineChart linearGradient~path,
/* Trend page sankeys */
#maps_Layer_Collections {
  cursor: pointer !important;
}

#tooltemplate {
  width: 90px;
  background: #353f4ce6;
  opacity: 100%;
  box-shadow: 0px 2px 2px #00000066;
  font-size: 13px;
  color: #ffffff;
  font-weight: 500;
}

.memberTable table>thead>tr>th {
  background-color: #0070af !important;
  color: white;
  font-size: 16px;
}

.salesTable table>thead>tr>th,
.salesReportTable table>thead>tr:nth-child(1) th,
.membershipTable table>thead>tr:nth-child(1) th {
  color: #0070af !important;
  font-size: 14px;
}

.exploreMore {
  font-size: 14px;
  color: #0070af;
  background-color: Transparent;
  border: none;
}

.ant-tabs-tab-btn {
  font-size: 17px !important;
}

.ant-tabs-tab {
  padding: 0px !important;
}

.ant-modal-header {
  padding: 15px;
  background-color: #0070af;
}

.ant-modal-title {
  font-size: 18px;
  color: #ffffff !important;
}

.member-count {
  color: #0673b1;
}

.ant-modal-close-icon {
  color: #ffffff;
}

.ant-select-clear {
  top: 50%;
  right: 16px;
  width: 21px;
  font-size: 15px;
}

.CurrentMemberTable table>thead>tr>th {
  font-size: 16px;
}

.new-member {
  color: #52c41a;
  font-weight: "bold";
  border: none;
  background-color: transparent;
}

.ant-tabs>.ant-tabs-nav,
.ant-tabs>div>.ant-tabs-nav {
  margin-bottom: 0;
}

.ant-tabs>.ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list {
  padding: 8px;
}

/* .ant-tabs-tab-active .cls-1 {
  fill:#0070af;
} */
.title {
  font-size: 15px;
}

.pl-20 {
  padding-left: 20px !important;
}

.row-gap {
  row-gap: 9px !important;
}

.menuValues {
  font-size: 18px !important;
  font-weight: 700 !important;
}

.count-icon {
  font-size: 18px !important;
  font-weight: 700 !important;
}

.salesReportTable table>thead>tr:nth-child(2) th,
.membershipTable table>thead>tr:nth-child(2) th {
  background: white;
  border-right: 1px solid #f0f0f0;
}

.membersCount {
  border: none;
  background-color: transparent;
}

.ant-spin-nested-loading>div>.ant-spin {
  position: absolute;
  top: 60px;
}

.sideMenuCard {
  height: 100%;
  padding-top: 10px;
}

.cardPadding>.ant-card-body {
  padding: 2px !important;
}

.chartLegends {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
}

.chartLegendsNodes {
  font-size: 11px;
  font-family: sans-serif;
  text-align: right;
}

.downloadChartLegends {
  white-space: wrap !important;
  width: 100% !important;
}

.salesTable .ant-table-tbody>tr.ant-table-row:hover>td {
  background: none !important;
}

.salesTable .ant-table-tbody>tr>td {
  padding: 13px;
}

.compareSalesTable .ant-table-tbody>tr.ant-table-row:hover>td {
  background: none !important;
}

.select-option .ant-select-item-option-content {
  white-space: break-spaces;
  word-break: break-word;
}

.pt-06 {
  padding-top: 6px !important;
}

.pt-02 {
  padding-top: 2px !important;
}

.map-dropdown {
  position: absolute !important;
  right: 10px !important;
}

.trends-column-header {
  position: absolute !important;
  margin-top: 3px !important;
  height: 15px !important;
}

.common-header-icon {
  position: absolute !important;
  margin-top: 1px !important;
  height: 17px !important;
}

.norecords .ant-empty-normal .ant-empty-image {
  height: 30px;
}

.font-s15,
.sales-activity-tab .ant-tabs-tab-btn {
  font-size: 15px !important;
}

.sales-card-description .ant-card-meta-description {
  height: 44px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.month-picker .ant-picker-header {
  display: none !important;
}

.horizontal {
  top: -2px;
  position: relative;
  transform: scale(-1, 1) rotate(269deg);
  display: inline-block;
}

.checkbox-filter .ant-divider-horizontal {
  margin: 10px 0 !important;
}

.filter-button {
  width: 333px !important;
}

.filter-modal .ant-modal-body {
  padding: 0px !important;
}

.search-input {
  padding: 15px 17px 0px 17px !important;
}

.checkbox-padding {
  padding: 5px 5px 5px 17px !important
}

.scroll-container {
  overflow-y: scroll !important;
  height: calc(93vh - 300px) !important;
}

.scroll-container::-webkit-scrollbar {
  width: 5px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #888;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.w-100 {
  width: 100% !important;
}

.customchart-table .ant-table-selection-column {
  text-align: center !important;
}

.table-width-100 {
  width: 100%;
}

.config-title {
  font-size: 15px;
  width: max-content;
  min-width: 10rem;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .config-modal {
    width: 80% !important;
  }
}

.subTotalRevenueRows,
.totalRevenueRows {
  font-weight: bold;
  background: #f5faffc2;
  text-align: end;
}

.totalRevenueRows {
  background: #f4f4f4;
}

.monthsRow {
  text-align: center;
}

.minWidth-max {
  min-width: max-content;
}

.visualizationtype {
  margin-right: 12px;
}

.totalRevenueCount {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 28px;
  font-weight: 100;
}

.totalRevenueVisualizationtypeWrapper {
  margin-top: 28px;
}

.totalRevenueVisualizationtype {
  margin-right: 12px;
}

.visualizationtype-wrapper {
  margin-top: 28px;
}

.popup-modal-width {
  width: 80% !important;
}

.primary-color{
  color: var(--ant-primary-color) !important;
  fill: var(--ant-primary-color) !important;
}

@media screen and (max-width: 1059px) {
  .visualizationtype-wrapper {
    margin-top: 0px;
    flex-direction: column;
  }

  .visualizationtype {
    margin-right: 0px;
    margin-top: 28px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 991px) {
  .visualizationtype-wrapper {
    margin-top: 28px;
    flex-direction: row;
  }

  .visualizationtype {
    margin: 0px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 882px) {
  .visualizationtype-wrapper {
    margin-top: 0px;
    flex-direction: column;
  }

  .visualizationtype {
    margin-right: 0px;
    margin-top: 28px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1205px) {
  .totalRevenueContainer {
    flex-direction: column;
  }

  .totalRevenueCount {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 12px;
  }
}

@media screen and (max-width: 1422px) {
  .totalRevenueVisualizationtypeWrapper {
    margin-top: 0px;
    flex-direction: column;
  }

  .totalRevenueVisualizationtype {
    margin-right: 0px;
    margin-top: 28px;
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 992px) {
  .totalRevenueVisualizationtypeWrapper {
    margin-top: 28px;
    flex-direction: row;
  }

  .totalRevenueVisualizationtype {
    margin-top: 0px;
    margin-right: 12px;
  }

}

@media screen and (max-width: 943px) {
  .totalRevenueVisualizationtypeWrapper {
    margin-top: 0px;
    flex-direction: column;
  }

  .totalRevenueVisualizationtype {
    margin-right: 0px;
    margin-top: 28px;
    margin-bottom: 10px;
  }

}

@media screen and (max-width:1113px) {
  .popup-modal-width {
    width: 95% !important;
  }

}