<<<<<<< HEAD
.left-menu-icon {
  width: 3em;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
}

.left-menu-div {
  max-width: 300px;
  min-width: 300px;
  width: 90%;
}

.card {
  border-radius: 20px !important;
  background: white;
  color: #353535;
  box-shadow: 2px 2px 2px 2px #888888;
}

.download-chart-button {
  text-align: right;
}

.export-csv-button-container {
  text-align: right;
  margin-bottom: 10px;
}

.export-csv-button {
  border-radius: 0px !important;
  font-size: 14px !important;
  background: #fff !important;
  color: black !important;
}

.export-csv-button:hover {
  border-color: #1890ff !important;
  background: #fff !important;
  color: #1890ff !important;
}

.member-img {
  width: 50px !important;
  margin-bottom: 10px !important;
  border-radius: 0.5em !important;
  box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0 !important;
  max-height: 50px !important;
  max-width: 50px !important;
}

.member-modal-header {
  height: 60px !important
}

.member-modal-header-text {
  margin-left: 12px;
  margin-top: 18px;
  font-size: 1.2em;
  font-weight: bold;
}

.close-icon-x {
  text-align: end;
  font-size: 24px;
  cursor: pointer !important;
  margin-right: 12px !important;
  margin-top: 18px !important;
}

.ant-modal-header {
  padding-top: 0px;
  padding-bottom: 0px;
}

.ant-table-thead>tr>th {
  text-align: left !important;
}

.ant-table-cell {
  text-align: left !important;
}

.ant-table-cell.text-left {
  text-align: left !important;
}

.ant-table-body {
  min-height: 75px;
}

.salesReportTable table>tbody > tr > td{
  width: 108px;
}

.ant-statistic-content {
  font-size: 18px;
}

.lineChart g rect,
/* Bars */
.lineChart g text,
/* Total labels */
.lineChart linearGradient~path,
/* Trend page sankeys */
#maps_Layer_Collections {
  cursor: pointer !important;
}

#tooltemplate {
  width: 90px;
  background: #353f4ce6;
  opacity: 100%;
  box-shadow: 0px 2px 2px #00000066;
  font-size: 13px;
  color: #ffffff;
  font-weight: 500;
}

.memberTable table>thead>tr>th {
  background-color: #0070af !important;
  color: white;
  font-size: 16px;
}

.salesTable table>thead>tr>th, .salesReportTable table>thead>tr:nth-child(1) th, .membershipTable table>thead>tr:nth-child(1) th {
  /* color: #0070af !important; */
  font-size: 16px;
}

.exploreMore {
  font-size: 14px;
  color: #0070af;
  background-color: Transparent;
  border: none;
}

.ant-tabs-tab-btn {
  font-size: 17px !important;
}

.ant-tabs-tab {
  padding: 0px !important;
}

.ant-modal-header {
  padding:15px;
  background-color:#0070af;
}

.ant-modal-title{
  font-size:18px;
  color:#ffffff !important;
}

.member-count{
  color:#0673b1;
}

.ant-modal-close-icon{
  color:#ffffff;
}

.ant-select-clear{
  top: 50%;
  right: 16px;
  width:21px;
  font-size:15px;
}

.CurrentMemberTable table>thead>tr>th {
  font-size: 16px;
}

.new-member{
  color:#52c41a;
  font-weight: "bold"; 
  border:none;
  background-color: transparent;
}

.ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav {
  margin-bottom: 0;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
  padding: 8px;
}

/* .ant-tabs-tab-active .cls-1 {
  fill:#0070af;
} */

.title{
  font-size:15px;
}

.pl-20{
  padding-left: 20px !important;
}

.row-gap{
  row-gap: 9px !important;
}

.menuValues{
  font-size: 18px !important;
  font-weight: 700 !important;
}

.salesReportTable table>thead>tr:nth-child(2) th,.membershipTable table>thead>tr:nth-child(2) th { 
  background: white;
  border-right: 1px solid #f0f0f0;
}

.membersCount{
  border:none;
  background-color: transparent;
}

.initialLoader{
  margin-top: 14%;
}

.ant-spin-nested-loading > div > .initialLoader {
  position: absolute;
  top: 60px;
}

.compareReportTable .ant-table-row:hover > td {
  background: none !important;
}

.compareReportTable .ant-table-thead > tr > th, .compareReportTable .ant-table-tbody > tr > td, .compareReportTable .ant-table tfoot > tr > th, .compareReportTable .ant-table tfoot > tr > td  {
  border-right: 1px solid #f0f0f0;
}

.compareReportTable .ant-table table {
  border-left: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
}
.compareReportTable .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  background-color: none;
}

.sales-title{
  /* color: var(--primary_color) */
}

.table-info-icon,.cursor-pointer{
  cursor: pointer;
}
.trend-table-header{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.total-row-bg {
  background-color: #fafafa;
=======
.left-menu-icon {
  width: 3em;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
}

.left-menu-div {
  max-width: 300px;
  min-width: 300px;
  width: 90%;
}

.card {
  border-radius: 20px !important;
  background: white;
  color: #353535;
  box-shadow: 2px 2px 2px 2px #888888;
}

.download-chart-button {
  text-align: right;
}

.export-csv-button-container {
  text-align: right;
  margin-bottom: 10px;
}

.export-csv-button {
  border-radius: 0px !important;
  font-size: 14px !important;
  background: #fff !important;
  color: black !important;
}

.export-csv-button:hover {
  border-color: #1890ff !important;
  background: #fff !important;
  color: #1890ff !important;
}

.member-img {
  width: 50px !important;
  margin-bottom: 10px !important;
  border-radius: 0.5em !important;
  box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0 !important;
  max-height: 50px !important;
  max-width: 50px !important;
}

.member-modal-header {
  height: 60px !important
}

.member-modal-header-text {
  margin-left: 12px;
  margin-top: 18px;
  font-size: 1.2em;
  font-weight: bold;
}

.close-icon-x {
  text-align: end;
  font-size: 24px;
  cursor: pointer !important;
  margin-right: 12px !important;
  margin-top: 18px !important;
}

.ant-modal-header {
  padding-top: 0px;
  padding-bottom: 0px;
}

.ant-table-thead>tr>th {
  text-align: left !important;
}

.ant-table-cell {
  text-align: left !important;
}

.ant-table-cell.text-left {
  text-align: left !important;
}

.ant-table-body {
  min-height: 75px;
}

.salesReportTable table>tbody > tr > td{
  width: 108px;
}

.ant-statistic-content {
  font-size: 18px;
}

.lineChart g rect,
/* Bars */
.lineChart g text,
/* Total labels */
.lineChart linearGradient~path,
/* Trend page sankeys */
#maps_Layer_Collections {
  cursor: pointer !important;
}

#tooltemplate {
  width: 90px;
  background: #353f4ce6;
  opacity: 100%;
  box-shadow: 0px 2px 2px #00000066;
  font-size: 13px;
  color: #ffffff;
  font-weight: 500;
}

.memberTable table>thead>tr>th {
  background-color: #0070af !important;
  color: white;
  font-size: 16px;
}

.salesTable table>thead>tr>th, .salesReportTable table>thead>tr:nth-child(1) th, .membershipTable table>thead>tr:nth-child(1) th {
  /* color: #0070af !important; */
  font-size: 16px;
}

.exploreMore {
  font-size: 14px;
  color: #0070af;
  background-color: Transparent;
  border: none;
}

.ant-tabs-tab-btn {
  font-size: 17px !important;
}

.ant-tabs-tab {
  padding: 0px !important;
}

.ant-modal-header {
  padding:15px;
  background-color:#0070af;
}

.ant-modal-title{
  font-size:18px;
  color:#ffffff !important;
}

.member-count{
  color:#0673b1;
}

.ant-modal-close-icon{
  color:#ffffff;
}

.ant-select-clear{
  top: 50%;
  right: 16px;
  width:21px;
  font-size:15px;
}

.CurrentMemberTable table>thead>tr>th {
  font-size: 16px;
}

.new-member{
  color:#52c41a;
  font-weight: "bold"; 
  border:none;
  background-color: transparent;
}

.ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav {
  margin-bottom: 0;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
  padding: 8px;
}

/* .ant-tabs-tab-active .cls-1 {
  fill:#0070af;
} */

.title{
  font-size:15px;
}

.pl-20{
  padding-left: 20px !important;
}

.row-gap{
  row-gap: 9px !important;
}

.menuValues{
  font-size: 18px !important;
  font-weight: 700 !important;
}

.salesReportTable table>thead>tr:nth-child(2) th,.membershipTable table>thead>tr:nth-child(2) th { 
  background: white;
  border-right: 1px solid #f0f0f0;
}

.membersCount{
  border:none;
  background-color: transparent;
}

.initialLoader{
  margin-top: 14%;
}

.ant-spin-nested-loading > div > .initialLoader {
  position: absolute;
  top: 60px;
}

.compareReportTable .ant-table-row:hover > td {
  background: none !important;
}

.compareReportTable .ant-table-thead > tr > th, .compareReportTable .ant-table-tbody > tr > td, .compareReportTable .ant-table tfoot > tr > th, .compareReportTable .ant-table tfoot > tr > td  {
  border-right: 1px solid #f0f0f0;
}

.compareReportTable .ant-table table {
  border-left: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
}
.compareReportTable .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  background-color: none;
}

.sales-title{
  /* color: var(--primary_color) */
}

.table-info-icon,.cursor-pointer{
  cursor: pointer;
}
.trend-table-header{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.total-row-bg {
  background-color: #fafafa;
>>>>>>> 869aae639d685259d1760f9199b6e8e54991839b
}